.cart-icon{
    margin-left: 25px;
}
.navbar-brand{
    margin-right: 160px;
    font-size: 25px;
}
.nav-item{
    margin-left: 30px;
}
.form-search{
    margin-right: 50px;
}
h1{
    font-size: 23px;
    text-align: center;
    margin: 10px;
}
.btn-cart{
    background-color: aliceblue;
}
.container-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}




.container-count{
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    margin: 10px;
}
.cant{
    margin: 10px;
}
/* Estilos para Detail (no definitivos) */
.detail-container{
    margin: 30px;
    display: grid;
    grid-template-areas:
    "img title title"
    "img description description"
    "stock stock count"
    "price price count";
}
.card-img-top{
    grid-area: img;
}
.card-title{
    grid-area: title;
}
.description{
    grid-area: description;
}
.price{
    grid-area: price;
}
.stock{
    grid-area: stock;
}
.card{
    grid-area: count;
    margin: 10px;
    border: solid 2px rgb(200, 200, 235);
}