.cart-icon{
    margin-left: 25px;
}
.navbar-brand{
    margin-right: 160px;
    font-size: 25px;
}
.nav-item{
    margin-left: 30px;
}
.form-search{
    margin-right: 50px;
}
Link{
    text-decoration: none;
}
.btn-cart{
    background-color: aliceblue;
}
.container-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-datail-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 800px;
}
.img-detail-container{
    display: flex;
    justify-content: center;
    place-items: center;
}
.img-detail{
    width: 200px;
    height: 200px;
    border-radius: 13px;
    box-shadow: 4px 10px 12px 0px rgba(195,196,237,0.88);
    -webkit-box-shadow: 4px 10px 12px 0px rgba(195,196,237,0.88);
    -moz-box-shadow: 4px 10px 12px 0px rgba(195,196,237,0.88);
}
.container-count{
    grid-area: count;
    display: flex;
    flex-direction: row;
    place-items: center;
    margin: 10px;
}
.cant{
    margin: 10px;
}