body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: #a0c4cf;
    border-radius: 5px;
}
.navbar-brand{
    margin-right: 140px;
    font-size: 25px;
}
.nav-item{
    margin-left: 30px;
}
.form-search{
    margin-right: 50px;
}
Link{
    text-decoration: none;
}
.cart-icon{
    margin-left: 10px;
}
.btn-cart{
    background-color: aliceblue;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}
.container-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.datail-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-datail-container{
    margin: 50px;
    width: 1300px;
    height: 500px;
    display: flex;
    place-content: center;
}
.img-detail-container{
    display: flex;
    justify-content: center;
    place-items: center;
}
.img-detail{
    width: 380px;
    height: 380px;
    border-radius: 13px;
    box-shadow: 4px 10px 12px 0px rgba(195,196,237,0.88);
    -webkit-box-shadow: 4px 10px 12px 0px rgba(195,196,237,0.88);
    -moz-box-shadow: 4px 10px 12px 0px rgba(195,196,237,0.88);
}
.container-count{
    grid-area: count;
    display: flex;
    flex-direction: row;
    place-items: center;
    margin: 10px;
}
.btn{
    margin: 3px;
}
.cant{
    margin: 10px;
}
.i-am-cart{
    font-size: 22px;
    margin: 20px;
    text-align: center;
}
.buttons-cart{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.img-cart-container{
    display: flex;
    justify-content: center;
    place-items: center;
}
.btn-continue{
    margin-left: 13px;
}
.empty-cart{
    display: flex;
    justify-content: center;
    margin: 40px;
}
.img-cart{
    width: 200px;
    height: 200px;
    border-radius: 13px;
    box-shadow: 4px 10px 12px 0px rgba(195,196,237,0.88);
    -webkit-box-shadow: 4px 10px 12px 0px rgba(195,196,237,0.88);
    -moz-box-shadow: 4px 10px 12px 0px rgba(195,196,237,0.88);
}
.cart-container{
    display: flex;
    justify-content: center;
}
.card-cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 525px;
}
.card-body-cart{
    margin-left: 20px;
}